In [103]:
import pandas as pd
import re
dta = pd.read_csv(r"C:\Users\Keitaro Ninomiya\Box\Research Notes (keitaro2@illinois.edu)\Singapore_Realtor\Raw_Data\SuspendedAgents\MARCH28TH.txt",
                        header=None,
                        delimiter=r"\s+"
                        )
dta.columns = ["TAG","POS","TYPE","CONTENT"]
dta=dta[dta.TYPE!="TYPE=DIV"]
dta=dta[dta.TYPE!="TYPE=I"]
dta=dta[dta.TYPE!="TYPE=TABLE"]

dta.CONTENT=dta["CONTENT"].str.replace("ATTR=TXT:","")
dta.CONTENT=dta["CONTENT"].str.replace("<SP>"," ")
dta.CONTENT=dta["CONTENT"].str.replace("Copy cell","")

#Save as CSV and manually correct some errors.
dta.to_csv(r"C:\Users\Keitaro Ninomiya\Box\Research Notes (keitaro2@illinois.edu)\Singapore_Realtor\Raw_Data\SuspendedAgents\MARCH28THTest.csv")

In [105]:
dta = pd.read_csv(r"C:\Users\Keitaro Ninomiya\Box\Research Notes (keitaro2@illinois.edu)\Singapore_Realtor\Raw_Data\SuspendedAgents\MARCH28THTest.csv",
                  delimiter=r",")
dta["var"]=["NAME","ID","START","END"]*45
dta["id"]=[j for j in range(1,46) for i in range(4)]
dta = dta.drop(["TAG","POS","TYPE"],axis=1)

In [106]:
dta=dta.pivot(index="id",columns="var",values="CONTENT")

In [108]:
dta.to_csv(r"C:\Users\Keitaro Ninomiya\Box\Research Notes (keitaro2@illinois.edu)\Singapore_Realtor\Raw_Data\SuspendedAgents\MARCH28TH.csv")

In [107]:
dta.head()

var         END        ID                          NAME       START
id
1    29/05/2020  R014320D           CINDIOR HO MEI PING  30/03/2020
2    07/09/2020  R052943I                 YEE CHARMAINE  08/06/2020
3    09/09/2020  R018601I                  SOH BEE LIAN  10/06/2020
4    13/08/2020  R056813B  QUEK KHENG KHEE (GUO QINGJI)  14/06/2020
5    05/05/2021  R002036F                      LIN FENG  06/07/2020