In [1]:
import requests, zipfile, io
from io import StringIO
import pandas as pd
import os

url = "https://data.gov.sg/dataset/4ca1b4ae-a264-4eb2-940f-7d36db2ebbde/download"
r = requests.get(url,stream=True)
z=zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(r"/home/keitaro2/Singapore_Realtor/Raw_Data/Folder")

In [2]:
dta=pd.read_csv(r"/home/keitaro2/Singapore_Realtor/Raw_Data/CEA_Salespersons_Property_Transaction_Records/dtaSales.csv")

In [3]:
def update():
    dta=pd.read_csv(r"/home/keitaro2/Singapore_Realtor/Raw_Data/CEA_Salespersons_Property_Transaction_Records/dtaSales.csv")
    dta1=pd.read_csv(r"/home/keitaro2/Singapore_Realtor/Raw_Data/Folder/cea-salespersons-property-transaction-records-residential.csv")

    new=pd.concat([dta,dta1]).drop_duplicates(keep=False)
    dta=pd.concat([dta,new])
    
    os.remove(r"/home/keitaro2/Singapore_Realtor/Raw_Data/Folder/cea-salespersons-property-transaction-records-residential.csv")
    os.remove(r"/home/keitaro2/Singapore_Realtor/Raw_Data/Folder/metadata-cea-salesperson-residential-transaction-record.txt")
    return dta

In [4]:
dta=update()
dta.to_csv(r"C:\Users\Keitaro Ninomiya\Box\Research Notes (keitaro2@illinois.edu)\Singapore_Realtor\Raw_Data\CEA_Salesperson_Information\dtaSales.csv")

,Unnamed: 0,salesperson_name,transaction_date,salesperson_reg_num,property_type,transaction_type,represented,town,district,general_location
0,0.0,CHUA HONG ENG,Apr-31,R012800J,CONDOMINIUM_APARTMENTS,RESALE,SELLER,-,11,WATTEN ESTATE/ NOVENA/ THOMSON
1,1.0,KO SWI LIAN,Sep-30,R021882D,HDB,ROOM RENTAL,TENANT,ANG MO KIO,-,-
2,2.0,LIM BEE LAY,Jan-23,R002757C,STRATA_LANDED,ROOM RENTAL,LANDLORD,-,21,UPPER BUKIT TIMAH/ CLEMENTI PARK/ ULU PANDAN
3,3.0,LIM THIAM POH,Feb-22,R040124F,HDB,RESALE,SELLER,SENGKANG,-,-
4,4.0,SITI NURHIDAYAH BINTE MOHAMED KHAN,Feb-22,R047353J,HDB,RESALE,BUYER,SENGKANG,-,-

In [1]:
getwd()

NameError: name 'getwd' is not defined